<!DOCTYPE html>
<html>
  <head>
    <title>Posicionamento via GPS</title>
    <meta charset="UTF-8">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand" href="#">Posicionamento Via GPS</div>
        </div>
      </div>
    </nav>
    <div class="container" role="main">
      <div class="row">

      <form action="{{url_for('files')}}" method="post" enctype="multipart/form-data">
        <div class="input-group" style="margin:10px">
            <label class="input-group-btn">
              <span class="btn btn-primary" style="width:148px">
                Navigation File&hellip; <input type="file" name="nav_file" style="display: none;">
              </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>

        <div class="input-group" style="margin-left:10px;margin-right:10px;margin-bottom:10px">
            <label class="input-group-btn">
              <span class="btn btn-primary" style="width:148px">
                Observation Data&hellip; <input type="file" name="obs_file" style="display: none;">
              </span>
            </label>
            <input type="text" class="form-control" readonly>
        </div>

        <div class="input-group" style="width:350px;margin-left:10px;margin-right:10px;margin-bottom:10px">
          <span class="input-group-addon">Number of Observations to Process</span>
          <input id="maxobs" name="maxobs" type="number" class="form-control" value="20">
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Enviar</button>
      </form>
      </div>

      {% if listaReceptores %}
      <div class="row">
        <iframe src="{{ url_for('show_map') }}" style="width:100%;height:350px;border:none;margin-top:50px"></iframe>
      </div>
      {% endif %}

      <div class="row">
        {% if listaReceptores %}
        <div class="page-header">
          <h1>Observation Data</h1>
        </div>
        <table id="obs_table" class="table table-hover table-condensed" style="margin:10px">

          <thead>
          <tr>
            <th>#</th>
            <th>Epoch</th>
            <th>Coordinates</th>
          </tr>
          </thead>

        {% for receptor in listaReceptores %}
          <tr>
            <td> {{ loop.index  }} </td>
            <td> {{ receptor.epochYear }} {{receptor.epochMonth}} {{receptor.epochDay}} {{receptor.epochHour}} {{receptor.epochMinute}} {{receptor.epochSecond}}</td>
            <td> {{ receptor.getCoordinates() }} </td>
            <td>
              <button type="button" class="view-button btn btn-link btn-xs">
                <span class="glyphicon glyphicon-info-sign"></span>  Details
              </button>
            </td>
          </tr>
          <tr style="display:none;">
            <td></td>
            <td colspan="4">
              <p><b>Data from Observation File</b></p>
              <p><b>Aproximated Distance:</b> {{ receptor.aprox_pos }}</p>
              {% for gps in receptor.gps %}
              <p><b>Sat #: </b> {{gps.sat_number}} <b>Pseudo Distance:</b>  {{gps.PD}} <b>Position:</b> {{gps.coordinate_WGS84()}} </p>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
        </table>

        {% endif %}
      </div>


    <div class="row">
      {% if listaGPS %}
      <div class="page-header">
        <h1>Navigation Data</h1>
      </div>
      <table class="table table-hover table-condensed" style="margin:10px">

        <thead>
        <tr>
          <th>#</th>
          <th>Sat#</th>
          <th>Epoch</th>
          <th>WGS84 Coordinates</th>
          <th></th>
        </tr>
        </thead>

      {% for gps in listaGPS %}
        <tr>
          <td>
            {{ loop.index  }}
          </td>
          <td>
            {{ gps.sat_number }}
          </td>
          <td>
            {{ gps.epochYear }} {{gps.epochMonth}} {{gps.epochDay}} {{gps.epochHour}} {{gps.epochMinute}} {{gps.epochSecond}}
          </td>
          <td>
            {{ gps.coordinate_WGS84() }}
          </td>
          <td>
            <button type="button" class="view-button btn btn-link btn-xs">
              <span class="glyphicon glyphicon-info-sign"></span>  Details
            </button>
          </td>
        </tr>
        <tr style="display:none;">
          <td></td>
          <td colspan="4">
            <p><b>Data from Ephemeris File</b></p>
            <p><b>Poly Clock Bias:</b> {{ gps.sv_clock_bias }}    <b>Poly Clock Drift:</b> {{ gps.sv_clock_drift }}    <b>Poly Drift Rate:</b> {{ gps.sv_clock_drift_rate }}    <b>iode:</b> {{ gps.iode }}</p>
            <p><b>CRS:</b> {{ gps.crs }}    <b>Delta N:</b> {{ gps.deltaN }}    <b>M0:</b> {{ gps.m0 }}    <b>Cuc:</b> {{ gps.cuc }}</p>
            <p><b>Eccentricity:</b> {{ gps.eccentricity }}    <b>CUS:</b> {{ gps.cus }}    <b>Sqrt A:</b> {{ gps.sqrtA }}    <b>Toe Time:</b> {{ gps.toeTime }}</p>
            <p><b>CIC:</b> {{ gps.cic }}    <b>Omega 0:</b> {{ gps.omega0 }}    <b>Cis:</b> {{ gps.cis }}    <b>i0:</b> {{ gps.i0 }}</p>
            <p><b>CRC:</b> {{ gps.crc }}    <b>Omega:</b> {{ gps.omega }}    <b>Omega Dot:</b> {{ gps.omegaDot }}    <b>i dot:</b> {{ gps.idot }}</p>
            <p><b>Codes L2:</b> {{ gps.codesL2Channel }}     <b>GPS Week:</b> {{ gps.gpsWeek }}    <b>L2 Data Flag:</b> {{ gps.l2PDataFlag }}    <b>SV Accuracy:</b> {{ gps.svAccuracy }}</p>
            <p><b>Sv Health:</b> {{ gps.svHealth }}    <b>TGD:</b> {{ gps.tgd }}    <b>Iodc:</b> {{ gps.iodc }}    <b>Trans Time:</b> {{ gps.transTime }}</p>
            <p><b>Calculated Data</b></p>
            <p><b>Delta Tsv:</b> {{ gps.deltaTsv() }}    <b>GM:</b> {{ gps.GM() }}    <b>Omega Earth:</b> {{ gps.omegaEarth() }}    <b>n0:</b> {{ gps.n0() }}</p>
            <p><b>n:</b> {{ gps.n() }}    <b>M:</b> {{ gps.M() }}    <b>E:</b> {{ gps.E() }}    <b>V:</b> {{ gps.V() }}</p>
            <p><b>V plus Omega:</b> {{ gps.VplusOmega() }}    <b>teta U:</b> {{ gps.tetaU() }}    <b>U:</b> {{ gps.U() }}    <b>teta R:</b> {{ gps.tetaR() }}</p>
            <p><b>R:</b> {{ gps.R() }}    <b>Orbital Plane:</b> {{ gps.coordinate_OrbitalPlane() }}    <b>teta I:</b> {{ gps.tetaI() }}    <b>I:</b> {{ gps.I() }}</p>
            <p><b>Capital Omega:</b> {{ gps.capitalOmega() }} </p>
          </td>
        </tr>
      {% endfor %}
      </table>

      {% endif %}
    </div>

    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <script>
    $(document).ready(function(){
        $('.view-button').click(function(){
            $(this.parentNode.parentNode.nextElementSibling).toggle();
        });
    });

    </script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/filepick.js"></script>
  </body>
</html>
