<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster-src.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.0.0/MarkerCluster.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_7456482ed53549989900c93876137bf5 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7456482ed53549989900c93876137bf5" ></div>
        
</body>
<script>    
    

            
                var southWest = L.latLng(-90, -180);
                var northEast = L.latLng(90, 180);
                var bounds = L.latLngBounds(southWest, northEast);
            

            var map_7456482ed53549989900c93876137bf5 = L.map(
                                  'map_7456482ed53549989900c93876137bf5',
                                  {center: [-29.718915657945985,-53.716608769899864],
                                  zoom: 16,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_b5b620be6e8b4068bf53d9a76ec9867a = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    continuousWorld: false,
                    noWrap: false,
                    attribution: 'Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_7456482ed53549989900c93876137bf5);

        
    
            var feature_group_5b05b36a3fa949ba9a512cf11c181d3e = L.featureGroup(
                ).addTo(map_7456482ed53549989900c93876137bf5);
        
    

            var marker_2f920a578328487e8d6b9ac6ea59cf48 = L.marker(
                [-29.718915657945985,-53.716608769899864],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_0a7b63995f7f4fc0bc1ae7b40eab6a4c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2f920a578328487e8d6b9ac6ea59cf48.setIcon(icon_0a7b63995f7f4fc0bc1ae7b40eab6a4c);
            
    
            var popup_e03d971f689a4a4faf763e43992f173f = L.popup({maxWidth: '300'});

            
                var html_576ef1ee90664467a4e389e72b73adc6 = $('<div id="html_576ef1ee90664467a4e389e72b73adc6" style="width: 100.0%; height: 100.0%;">432000.0</div>')[0];
                popup_e03d971f689a4a4faf763e43992f173f.setContent(html_576ef1ee90664467a4e389e72b73adc6);
            

            marker_2f920a578328487e8d6b9ac6ea59cf48.bindPopup(popup_e03d971f689a4a4faf763e43992f173f);

            
        
    

            var marker_bd1f6d232a95433bbbc339a33b7a2cd6 = L.marker(
                [-29.718912518066674,-53.71660038608398],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_905b1eded03748c183383ba880d7acf3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bd1f6d232a95433bbbc339a33b7a2cd6.setIcon(icon_905b1eded03748c183383ba880d7acf3);
            
    
            var popup_ce8702affe8c43f0a3cc908d503f4555 = L.popup({maxWidth: '300'});

            
                var html_158ec2745b164e6092a799aa75d0a8f0 = $('<div id="html_158ec2745b164e6092a799aa75d0a8f0" style="width: 100.0%; height: 100.0%;">432015.0</div>')[0];
                popup_ce8702affe8c43f0a3cc908d503f4555.setContent(html_158ec2745b164e6092a799aa75d0a8f0);
            

            marker_bd1f6d232a95433bbbc339a33b7a2cd6.bindPopup(popup_ce8702affe8c43f0a3cc908d503f4555);

            
        
    

            var marker_2b7d4ee2fa2049388c7dc3c0ab1b89e3 = L.marker(
                [-29.718905703741054,-53.71660723997403],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_fab1dc4b224c45509b024651543cad7b = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2b7d4ee2fa2049388c7dc3c0ab1b89e3.setIcon(icon_fab1dc4b224c45509b024651543cad7b);
            
    
            var popup_7b835d9edac048a1b360a896117dfd4b = L.popup({maxWidth: '300'});

            
                var html_6258b768ea6842d981686b6dd3362a70 = $('<div id="html_6258b768ea6842d981686b6dd3362a70" style="width: 100.0%; height: 100.0%;">432030.0</div>')[0];
                popup_7b835d9edac048a1b360a896117dfd4b.setContent(html_6258b768ea6842d981686b6dd3362a70);
            

            marker_2b7d4ee2fa2049388c7dc3c0ab1b89e3.bindPopup(popup_7b835d9edac048a1b360a896117dfd4b);

            
        
    

            var marker_36d1140dfce64a2ba0229de3f3a8848f = L.marker(
                [-29.718905658794874,-53.716606977892184],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_69aba0b315df493b901d0d8389d6b471 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_36d1140dfce64a2ba0229de3f3a8848f.setIcon(icon_69aba0b315df493b901d0d8389d6b471);
            
    
            var popup_4b36606280fd4753adebfc0608a44939 = L.popup({maxWidth: '300'});

            
                var html_2f96e6308a994627bb694122ffd2b1dd = $('<div id="html_2f96e6308a994627bb694122ffd2b1dd" style="width: 100.0%; height: 100.0%;">432045.0</div>')[0];
                popup_4b36606280fd4753adebfc0608a44939.setContent(html_2f96e6308a994627bb694122ffd2b1dd);
            

            marker_36d1140dfce64a2ba0229de3f3a8848f.bindPopup(popup_4b36606280fd4753adebfc0608a44939);

            
        
    

            var marker_a1af748a87f443afa99fcb1ea0e4de37 = L.marker(
                [-29.718927487019055,-53.71660959767107],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_d4b3e5f0ef1d469eb70eaaa36992e9c9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a1af748a87f443afa99fcb1ea0e4de37.setIcon(icon_d4b3e5f0ef1d469eb70eaaa36992e9c9);
            
    
            var popup_dbb28ba7f2c8468d883876a8731446ca = L.popup({maxWidth: '300'});

            
                var html_0a8e1b932bfe4aa6bb1a0b0e46b46ce4 = $('<div id="html_0a8e1b932bfe4aa6bb1a0b0e46b46ce4" style="width: 100.0%; height: 100.0%;">432060.0</div>')[0];
                popup_dbb28ba7f2c8468d883876a8731446ca.setContent(html_0a8e1b932bfe4aa6bb1a0b0e46b46ce4);
            

            marker_a1af748a87f443afa99fcb1ea0e4de37.bindPopup(popup_dbb28ba7f2c8468d883876a8731446ca);

            
        
    

            var marker_ac5cbfe3c4854450bc98b56ddbb4e2fe = L.marker(
                [-29.718898895753377,-53.71662175478331],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_42f420907bc0464ebed2322ef0c80f0f = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ac5cbfe3c4854450bc98b56ddbb4e2fe.setIcon(icon_42f420907bc0464ebed2322ef0c80f0f);
            
    
            var popup_491e29d6c0d84c9390335e4cf72ae0fd = L.popup({maxWidth: '300'});

            
                var html_deabf25d4e214152a8a923d1400014b1 = $('<div id="html_deabf25d4e214152a8a923d1400014b1" style="width: 100.0%; height: 100.0%;">432075.0</div>')[0];
                popup_491e29d6c0d84c9390335e4cf72ae0fd.setContent(html_deabf25d4e214152a8a923d1400014b1);
            

            marker_ac5cbfe3c4854450bc98b56ddbb4e2fe.bindPopup(popup_491e29d6c0d84c9390335e4cf72ae0fd);

            
        
    

            var marker_2a6657089ca44b6aac2c5f412ba1f8db = L.marker(
                [-29.718898836049956,-53.71661994681756],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_c71d32b63f2c4ea98c9e81db0c02c97d = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2a6657089ca44b6aac2c5f412ba1f8db.setIcon(icon_c71d32b63f2c4ea98c9e81db0c02c97d);
            
    
            var popup_463c6a6ec92b447fb36368ce48528633 = L.popup({maxWidth: '300'});

            
                var html_55910d35a2cf49ac9068b10d0e418475 = $('<div id="html_55910d35a2cf49ac9068b10d0e418475" style="width: 100.0%; height: 100.0%;">432090.0</div>')[0];
                popup_463c6a6ec92b447fb36368ce48528633.setContent(html_55910d35a2cf49ac9068b10d0e418475);
            

            marker_2a6657089ca44b6aac2c5f412ba1f8db.bindPopup(popup_463c6a6ec92b447fb36368ce48528633);

            
        
    

            var marker_96f1a6793e3742aab83a64d479d16fa7 = L.marker(
                [-29.718915115813257,-53.71662260002194],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_964f6861591a4c188f06e68ed1f51ff9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_96f1a6793e3742aab83a64d479d16fa7.setIcon(icon_964f6861591a4c188f06e68ed1f51ff9);
            
    
            var popup_19b3e9fd875146cda5e1a8b4428f928e = L.popup({maxWidth: '300'});

            
                var html_2deaf8ed44cd48b684b8645c8784d1ed = $('<div id="html_2deaf8ed44cd48b684b8645c8784d1ed" style="width: 100.0%; height: 100.0%;">432105.0</div>')[0];
                popup_19b3e9fd875146cda5e1a8b4428f928e.setContent(html_2deaf8ed44cd48b684b8645c8784d1ed);
            

            marker_96f1a6793e3742aab83a64d479d16fa7.bindPopup(popup_19b3e9fd875146cda5e1a8b4428f928e);

            
        
    

            var marker_741d07babfb2443fbae2e4f7a00a889e = L.marker(
                [-29.718906397972912,-53.71661290253963],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_037b084323d74905886fe1075b712b5c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_741d07babfb2443fbae2e4f7a00a889e.setIcon(icon_037b084323d74905886fe1075b712b5c);
            
    
            var popup_ff7c8690921642e880c939045e4933a8 = L.popup({maxWidth: '300'});

            
                var html_f3f7bffe30f84700bfc649e2fa1680ce = $('<div id="html_f3f7bffe30f84700bfc649e2fa1680ce" style="width: 100.0%; height: 100.0%;">432120.0</div>')[0];
                popup_ff7c8690921642e880c939045e4933a8.setContent(html_f3f7bffe30f84700bfc649e2fa1680ce);
            

            marker_741d07babfb2443fbae2e4f7a00a889e.bindPopup(popup_ff7c8690921642e880c939045e4933a8);

            
        
    

            var marker_83aa3e84674c4455afb35946cbe24f0c = L.marker(
                [-29.718907480121903,-53.7166204454961],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_6bd5521075e841d3b7148ab137d9dd9c = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_83aa3e84674c4455afb35946cbe24f0c.setIcon(icon_6bd5521075e841d3b7148ab137d9dd9c);
            
    
            var popup_034ff18920e54fd8bc9b28f8a528c13b = L.popup({maxWidth: '300'});

            
                var html_d6dcf3098920418b8332aa3a36b77cfc = $('<div id="html_d6dcf3098920418b8332aa3a36b77cfc" style="width: 100.0%; height: 100.0%;">432135.0</div>')[0];
                popup_034ff18920e54fd8bc9b28f8a528c13b.setContent(html_d6dcf3098920418b8332aa3a36b77cfc);
            

            marker_83aa3e84674c4455afb35946cbe24f0c.bindPopup(popup_034ff18920e54fd8bc9b28f8a528c13b);

            
        
    

            var marker_1f1b661c87e445bb83021ebdfe440b55 = L.marker(
                [-29.718902293925183,-53.71661934098872],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_02fa04925d394b1b97b67442fbf82ed9 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1f1b661c87e445bb83021ebdfe440b55.setIcon(icon_02fa04925d394b1b97b67442fbf82ed9);
            
    
            var popup_ab5bf7260be843cd894ecedfa0c55459 = L.popup({maxWidth: '300'});

            
                var html_072be855c95047ee9be30dcd1cb894c1 = $('<div id="html_072be855c95047ee9be30dcd1cb894c1" style="width: 100.0%; height: 100.0%;">432150.0</div>')[0];
                popup_ab5bf7260be843cd894ecedfa0c55459.setContent(html_072be855c95047ee9be30dcd1cb894c1);
            

            marker_1f1b661c87e445bb83021ebdfe440b55.bindPopup(popup_ab5bf7260be843cd894ecedfa0c55459);

            
        
    

            var marker_e226e308355940f989a21a9f2c24fd23 = L.marker(
                [-29.718902004843063,-53.7166253433042],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_15022a672c784488baffda89ccbd9c46 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e226e308355940f989a21a9f2c24fd23.setIcon(icon_15022a672c784488baffda89ccbd9c46);
            
    
            var popup_d95d66061c5f42a4a67f2d730bb172dd = L.popup({maxWidth: '300'});

            
                var html_b0fafb9698e349deb49e943472fd8764 = $('<div id="html_b0fafb9698e349deb49e943472fd8764" style="width: 100.0%; height: 100.0%;">432165.0</div>')[0];
                popup_d95d66061c5f42a4a67f2d730bb172dd.setContent(html_b0fafb9698e349deb49e943472fd8764);
            

            marker_e226e308355940f989a21a9f2c24fd23.bindPopup(popup_d95d66061c5f42a4a67f2d730bb172dd);

            
        
    

            var marker_dba42b40df5349e48dfca49a188c8b42 = L.marker(
                [-29.71892393620548,-53.71662861404224],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_2dbfae1a21024dc19713289618b8bbe3 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dba42b40df5349e48dfca49a188c8b42.setIcon(icon_2dbfae1a21024dc19713289618b8bbe3);
            
    
            var popup_22fd86af8a9f4402b09c39a4bd51b56b = L.popup({maxWidth: '300'});

            
                var html_70d446384b9443fd90497151806cfad6 = $('<div id="html_70d446384b9443fd90497151806cfad6" style="width: 100.0%; height: 100.0%;">432180.0</div>')[0];
                popup_22fd86af8a9f4402b09c39a4bd51b56b.setContent(html_70d446384b9443fd90497151806cfad6);
            

            marker_dba42b40df5349e48dfca49a188c8b42.bindPopup(popup_22fd86af8a9f4402b09c39a4bd51b56b);

            
        
    

            var marker_fcc92567a58c43ae939eefc0080edc6e = L.marker(
                [-29.718896162254534,-53.71662211933465],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_b182110cf12b4af6b00f8a75f271c612 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fcc92567a58c43ae939eefc0080edc6e.setIcon(icon_b182110cf12b4af6b00f8a75f271c612);
            
    
            var popup_623b1798b2b5482c9104590665d5b868 = L.popup({maxWidth: '300'});

            
                var html_8cbbf781e725447990ec9de69f42687a = $('<div id="html_8cbbf781e725447990ec9de69f42687a" style="width: 100.0%; height: 100.0%;">432195.0</div>')[0];
                popup_623b1798b2b5482c9104590665d5b868.setContent(html_8cbbf781e725447990ec9de69f42687a);
            

            marker_fcc92567a58c43ae939eefc0080edc6e.bindPopup(popup_623b1798b2b5482c9104590665d5b868);

            
        
    

            var marker_5e283583f6aa47eba3d3943fd5a8eb1f = L.marker(
                [-29.71891987417653,-53.7166189332123],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_3947c0df4a2a49408f9076abd0912d58 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5e283583f6aa47eba3d3943fd5a8eb1f.setIcon(icon_3947c0df4a2a49408f9076abd0912d58);
            
    
            var popup_b5ed8cb1df6240eea698f4b94c897e1f = L.popup({maxWidth: '300'});

            
                var html_34944d7707404a5a909f0104dbeaa3c2 = $('<div id="html_34944d7707404a5a909f0104dbeaa3c2" style="width: 100.0%; height: 100.0%;">432210.0</div>')[0];
                popup_b5ed8cb1df6240eea698f4b94c897e1f.setContent(html_34944d7707404a5a909f0104dbeaa3c2);
            

            marker_5e283583f6aa47eba3d3943fd5a8eb1f.bindPopup(popup_b5ed8cb1df6240eea698f4b94c897e1f);

            
        
    

            var marker_d84b477f174b42e394989b132c6a83e0 = L.marker(
                [-29.718912614692744,-53.71662373367965],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_59e2d6c8bb2a4942868ab2cbe3f3e332 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d84b477f174b42e394989b132c6a83e0.setIcon(icon_59e2d6c8bb2a4942868ab2cbe3f3e332);
            
    
            var popup_cfeff251a9d2414b907f15cb7abadd9d = L.popup({maxWidth: '300'});

            
                var html_a9d6dc67e73b4a0db9e692f63ba37bb4 = $('<div id="html_a9d6dc67e73b4a0db9e692f63ba37bb4" style="width: 100.0%; height: 100.0%;">432225.0</div>')[0];
                popup_cfeff251a9d2414b907f15cb7abadd9d.setContent(html_a9d6dc67e73b4a0db9e692f63ba37bb4);
            

            marker_d84b477f174b42e394989b132c6a83e0.bindPopup(popup_cfeff251a9d2414b907f15cb7abadd9d);

            
        
    

            var marker_1a1947860d5745a3b91d4a59070e75e8 = L.marker(
                [-29.718909300102016,-53.7166177108771],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_d5cca4d1d45f4fea84e7fbca524e2435 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_1a1947860d5745a3b91d4a59070e75e8.setIcon(icon_d5cca4d1d45f4fea84e7fbca524e2435);
            
    
            var popup_9b20761b9ad34442914e84b1f7088506 = L.popup({maxWidth: '300'});

            
                var html_4ce6f588a1874f13921da838e0451bc3 = $('<div id="html_4ce6f588a1874f13921da838e0451bc3" style="width: 100.0%; height: 100.0%;">432240.0</div>')[0];
                popup_9b20761b9ad34442914e84b1f7088506.setContent(html_4ce6f588a1874f13921da838e0451bc3);
            

            marker_1a1947860d5745a3b91d4a59070e75e8.bindPopup(popup_9b20761b9ad34442914e84b1f7088506);

            
        
    

            var marker_a0aba55d27384dc9aad2d84ba830b373 = L.marker(
                [-29.718894369347623,-53.71660800329408],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_6f99bcb288e341478200410a7e14c607 = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a0aba55d27384dc9aad2d84ba830b373.setIcon(icon_6f99bcb288e341478200410a7e14c607);
            
    
            var popup_71eac313e0e34946a9ff54b02d9db4dd = L.popup({maxWidth: '300'});

            
                var html_768f95216d474c0aae0672e3ead9c320 = $('<div id="html_768f95216d474c0aae0672e3ead9c320" style="width: 100.0%; height: 100.0%;">432255.0</div>')[0];
                popup_71eac313e0e34946a9ff54b02d9db4dd.setContent(html_768f95216d474c0aae0672e3ead9c320);
            

            marker_a0aba55d27384dc9aad2d84ba830b373.bindPopup(popup_71eac313e0e34946a9ff54b02d9db4dd);

            
        
    

            var marker_096f16934c04490a9395cf7550cb8dfc = L.marker(
                [-29.71891090243467,-53.71661437527766],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_489dc7e4279f493a95093a21771e95ad = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_096f16934c04490a9395cf7550cb8dfc.setIcon(icon_489dc7e4279f493a95093a21771e95ad);
            
    
            var popup_b4967dc793414878b22676653b0af2a0 = L.popup({maxWidth: '300'});

            
                var html_cc62cee6192145569714d4e74833862c = $('<div id="html_cc62cee6192145569714d4e74833862c" style="width: 100.0%; height: 100.0%;">432270.0</div>')[0];
                popup_b4967dc793414878b22676653b0af2a0.setContent(html_cc62cee6192145569714d4e74833862c);
            

            marker_096f16934c04490a9395cf7550cb8dfc.bindPopup(popup_b4967dc793414878b22676653b0af2a0);

            
        
    

            var marker_669d678abd7f404390d01b2ec719c6d4 = L.marker(
                [-29.71889835206005,-53.716614651111705],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5b05b36a3fa949ba9a512cf11c181d3e);
            
    

                var icon_575f5bd3f33e4954b6adf2196c2b1cfc = L.AwesomeMarkers.icon({
                    icon: 'info-sign',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_669d678abd7f404390d01b2ec719c6d4.setIcon(icon_575f5bd3f33e4954b6adf2196c2b1cfc);
            
    
            var popup_b0051b0fe13e490d9c57d9cd402adb8f = L.popup({maxWidth: '300'});

            
                var html_b10314a2079b4baf8910f8875c8adab4 = $('<div id="html_b10314a2079b4baf8910f8875c8adab4" style="width: 100.0%; height: 100.0%;">432285.0</div>')[0];
                popup_b0051b0fe13e490d9c57d9cd402adb8f.setContent(html_b10314a2079b4baf8910f8875c8adab4);
            

            marker_669d678abd7f404390d01b2ec719c6d4.bindPopup(popup_b0051b0fe13e490d9c57d9cd402adb8f);

            
        
</script>